{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    // "@babel/proposal-object-rest-spread",
    ["@babel/plugin-proposal-pipeline-operator", { "proposal": "smart" }],
    // "@babel/plugin-transform-runtime",
    // "@babel/plugin-proposal-class-properties",
    // "@babel/plugin-proposal-private-methods",
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-proposal-throw-expressions",
    ["module-resolver", {
      "root": ["./src"],
    }],
    "@babel/plugin-proposal-do-expressions"
  ],
  // "ignore": ["node_modules"],
  "sourceMaps": true,
  "retainLines": true
}