{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "babel-plugin-styled-components",
    ["@babel/plugin-proposal-pipeline-operator", {
      "proposal": "smart"
    }],
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-proposal-export-namespace-from",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-do-expressions"
  ],
  "sourceMaps": true
}
  